In [10]:
import pandas as pd

import pymysql
pymysql.install_as_MySQLdb()

import MySQLdb
# pip install mysqlclient

db = MySQLdb.connect(
    "db.fastcamp.us",  # DATABASE_HOST
    "root",  # DATABASE_USERNAME
    "dkstncks",  # DATABASE_PASSWORD
    "world",  # DATABASE_NAME
    charset='utf8',
)

SQL_QUERY = """
    SELECT *
    FROM Country
    ;
"""

country_df = pd.read_sql(SQL_QUERY, db)

In [12]:
country_df.head()

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,José Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,AL

In [13]:
country_df = pd.read_sql("SELECT * FROM Country;", db)

In [14]:
# SQL : 구조화된 질의 언어!

In [ ]:
SQL_QUERY = """
    SELECT ______ # 어떤 Column, 어떤 값을 가져올까
    FROM _____    # 어떤 Table(Excel, Sheet) 에서 가져올까
    ;
"""